In [7]:
import pandas as pd

table = {
        "Id": ["p1", "p2", 'p3', 'p4', 'p5', 'p6', 'p2', 'p7'],
        "Product_name": ["Laptop", "mobile", "tablet", "Laptop", "head phones", "Laptop", "mobile", None],
        "Origin": ["china", "US", "china", "India", "US", "India", "US", "chiNa"],
        "cost": ["289000", "100$", "89000", None, "10$", 275000, "100$", 3000],
        "Brand": ["Lenovo", "Oppo F11", "SAMgsung", "APPLE", "BOAT", "LENovo", "Oppo F11", "Vivo"],
        "unnamed_col": [1, 1, 1, 1, 1, 1, 1, 1],
        "model": ["L1-1997", "M1-2015", 't12,2000', 'L1-2017', "H3:2022", "L3:2015", "M1-2015", "H2-2000"],
        "entry_date": ["01-Jan-2025", "03-DEC-2025", "16-08-2025", "18-11-2015", "4-4-2025", "3/10/2025", "03-DEC-2025", "4-4-2025"],
        "Amazon": [0, 0, 1, 1, 0, 1, 0, 0],
        "Flipkart": [1, 1, 0, 1, 1, 0, 1, 1]
}

df = pd.DataFrame(table)
df

,Id,Product_name,Origin,cost,Brand,unnamed_col,model,entry_date,Amazon,Flipkart
0,p1,Laptop,china,289000,Lenovo,1,L1-1997,01-Jan-2025,0,1
1,p2,mobile,US,100$,Oppo F11,1,M1-2015,03-DEC-2025,0,1
2,p3,tablet,china,89000,SAMgsung,1,"t12,2000",16-08-2025,1,0
3,p4,Laptop,India,None,APPLE,1,L1-2017,18-11-2015,1,1
4,p5,head phones,US,10$,BOAT,1,H3:2022,4-4-2025,0,1
5,p6,Laptop,India,275000,LENovo,1,L3:2015,3/10/2025,1,0
6,p2,mobile,US,100$,Oppo F11,1,M1-2015,03-DEC-2025,0,1
7,p7,None,chiNa,3000,Vivo,1,H2-2000,4-4-2025,0,1

In [8]:
df.to_excel("product.xlsx", index=False)